<article class="posts">
    <h1><%= article.title %></h1>
    <div clsss="meta">
        <span class="date">
            <%= new Date(article.create_time).toLocaleDateString().replace(/\//g, '-') %>
        </span>
        <ul class="tag">
            <% article.cate.forEach(function(cate){ %>
            <li>
                <a href="/cates/<%= cate.id %>">
                    <%= cate.cate %>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
    <div class="entry vditor-reset">
        <%- article.content %>
    </div>
</article>
<div class="comments">
    <h3>评论区</h3>
    <textarea id="comment-input" placeholder="支持markdown格式的评论"></textarea>
    <div class="text-right">
        <button id="commentSubmit" class="submit">发表评论</button>
    </div>
    <% article.comment.forEach(function(comment){ %>
        <div class="comment">
            <div class="top">
                <img src="<%- comment.user.profile %>" alt="">
                <span><%- comment.user.username %></span>
            </div>
            <div class="comment-content vditor-reset">
                    <%- comment.text %>
            </div>
        </div>
    <% }) %>
    
</div>
<script>
// const data1 = async (text) => {
//     const sub = await Vditor.md2html(text, 'atom-one-light', true, {})
//     console.log(sub);
// }
// setTimeout(() => {
//     data1('> 21dw')
// },3000)
</script>
<% include ../public/chartRender.html %>
