<div class="wrapper-footer-mobile">
    <footer class="footer">
        <p>我的每一步都是在尝试</p>
    </footer>
</div>
<link rel="stylesheet" href="https://cdn.staticfile.org/jquery-confirm/3.3.4/jquery-confirm.min.css">
<script src="https://cdn.staticfile.org/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
<script src="/static/js/blog.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4b8d9248e81664161c130189ba1cc0ba";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
