<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      <a href="/" class="site-avatar"><img src="https://avatars2.githubusercontent.com/u/10295488" /></a>
      <h1 class="site-name"><a href="/">clarence's blog</a></h1>
      <p class="site-description">敦琢其玉 客信与人</p>
    </div>
  </header>

  <div class="navlist">
    <nav>
      <a href="/">首页</a>
    </nav>
  </div>

  <div class="wrapper-footer-desktop">
    <footer class="footer">
    </footer>
  </div>
</div>