.fc-theme {
    color: #f13d63;
}

.fc-red {
    color: red;
}

.fc-000 {
    color: #000;
}

.fc-333 {
    color: #333;
}

.fc-555 {
    color: #555;
}

.fc-666 {
    color: #666;
}

.fc-888 {
    color: #888;
}

.fc-999 {
    color: #999;
}

.fc-aaa {
    color: #aaa;
}

.fc-blue {
    color: #409eff;
}

.fc-up {
    color: #d0402d !important;
}

.fc-down {
    color: #14af3e !important;
}

.bgc-theme {
    background: #c60602;
}

.bgc-fff {
    background: #fff;
}

.fc-fff {
    color: #fff;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

.fs-36 {
    font-size: 36px;
}

.fs-40 {
    font-size: 40px;
}

.fs-44 {
    font-size: 44px;
}

.fs-68 {
    font-size: 68px;
}

.fw-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.marginL-5 {
    margin-left: 5px;
}

.marginL-10 {
    margin-left: 10px;
}

.marginL-20 {
    margin-left: 20px;
}

.marginR-20 {
    margin-right: 20px;
}

.marginT-2 {
    margin-top: 2px;
}

.marginT-5 {
    margin-top: 5px;
}

.marginT-10 {
    margin-top: 10px;
}

.marginT-20 {
    margin-top: 20px;
}

.marginT-50 {
    margin-top: 50px;
}

.marginB-10 {
    margin-bottom: 10px;
}

.padding-20-32 {
    padding: 20px 32px;
}

.paddingL-50 {
    padding-left: 50px;
}

.flex {
    display: flex;
    display: -webkit-flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.width-100 {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.btn-money {
    background: linear-gradient(90deg, rgba(229, 201, 143, 1) 0%, rgba(201, 152, 86, 1) 100%);
    border-radius: 8px;
    color: #fff;
    border: none;
}

.content-view {
    padding: 20px;
    // width: 1024px;
    // display: inline-block;
    // margin: 0 auto;
    text-align: left;
}