<!DOCTYPE html>
<html lang="en">
    <!-- https://fromendworld.github.io/LOFFER/ -->
    <% include public/head.html %>
    <body>
        <% include public/nav.html %>
        <div id="main" role="main" class="wrapper-content">
            <div class="container">
                <% if (blog_route == 'index' || blog_route == 'cates_list') { %>
                <div class="posts">
                    <% list.data.forEach(function(content){ %>
                        <%- include('public/listitem.html', {content: content}) -%>
                    <% }) %>
                </div>
                <% } %>
                <% if (blog_route == 'about') { %>
                    <% include include/about.html %>
                <% } %>
                <% if (blog_route == 'article') { %>
                    <% include include/article.html %>
                <% } %>
                <% if (blog_route == 'cates') { %>
                    <% include include/tag.html %>
                <% } %>

                <% include public/pagination.html %>
            </div>
        </div>
    </body>
</html>
